<div id="carouselWithIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <!-- If need to use any repetitive data inside the same element that has the *ngFor-->
    <!-- Must add the prefix "attr." to the attribute, if nor you will receive an error -->
    <!-- can bind to xxxxx because isn't a known property of 'yyy' -->
    <li data-target="#carouselWithIndicators"
        *ngFor="let slide of slides; let i = index"
        attr.data-slide-to="{{ i }}"
        [class.active]="i==0"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item"
         *ngFor="let slide of slides; let i = index"
         [class.active]="i==0"
    >
      <img class="d-block w-100" src="assets/{{ slide.slide }}" alt="{{ slide.alt }}">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselWithIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselWithIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>